<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>站内信详情</title>
</head>
<style>
    [v-cloak] {
        display: none;
    }
</style>

<body>
    <div id="body" v-cloak>
        <group  label-width="3em" title="我的信息">
            <cell primary="content" title="">
                    <!-- <div slot="title">
                        <p class="title">标题</p>
                        <p v-if='item.status==0' class="status unread">未读</p>
                        <p v-if='item.status==1' class="status read">已读</p>
                    </div> -->
                    <div class="main" slot='default'>
                            <p class="content">{{data.content}}</p>     
                            <p>{{data.updated_at}}</p> 
                    </div>
            </cell> 
        </group>
        <foot :index="4"></foot>
    </div>
</body>

</html>