@import "../../modules/icon/fonts/iconfont.css";
@import "../../modules/sass/variables.scss";

html, body {
  height: 100%;
  width: 100%;
  background: $theme-gray200-color;
}

body{
  background: $theme-gray50-color
}

#body {
  background: $theme-gray50-color
}

#body .vux-header{
  background: $theme-gray800-color;
}

#body .myGroup .weui-cells{
  margin-top: 0;
  .weui-cell{
    padding:9px 15px
  }
}

#body .weui-cells:after{
 left:15px;
}


.icon-comment21{
  color: white;
}


#body {
  .person {
    height: 140px;
    padding-top: 20px;
    /*background: url('./imgs/person.png');*/
    background: $theme-gray800-color;
    text-align: center;
    .headerWapper {
      width: 96px;
      height: 96px;
      overflow: hidden;
      border-radius: 50%;
      box-sizing: border-box;
      vertical-align: top;
      img {
        width: 96px;
        height: 96px;
      }
    }
    & > div {
      text-align: left;
      display: inline-block;
      margin: 0 auto;
      & > div {
        display: inline-block;
        color: #fff;
      }
      & > div + div {
        padding-top: 14px;
        p {
          font-size: 20px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          max-width: 200px;
          height: 32px;

        }
        p + p {
          font-size: 14px;
          padding-top: 10px;
        }
      }
    }
    & > div + div {
      display: block;
      padding-top: 0px;
      text-align: center;
      & > div {
        display: inline-block;
        .iconfont {
          font-size: 24px;
        }
      }
    }
    .right-arrow {
      position: relative;
      width: 30px;
      height: 30px;
      top: -5px;
      left: -5px;
      &:before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        border: 1px solid #fff;
        border-width: 1px 0 0 1px;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
        top: -7px;
        left: 7px;
      }
    }
    .vux-badge {
      position: relative;
      left: -8px;
      top: -14px;
      background: #fff;
      border: 1px solid $theme-red700-color;
      color: $theme-red700-color;
    }

  }
  .weui-cells {
    background:$theme-gray50-color ;
    font-size: 15px;
    color: $theme-gray800-color;
    .iconfont {
      color:$theme-red700-color;
      font-size: 24px;
      padding-right: 10px;
    }
  }
}

