$theme-color:red;
//主题红红700
$theme-red700-color: #d32f2f;

//主题浅红300
$theme-red300-color: #e57373;

//着重色红100
$theme-red100-color: #ff8a80;

//主题灰800
$theme-gray800-color: #424242;

//主题灰600
$theme-gray600-color: #757575;

//主题灰500
$theme-gray500-color: #9E9E9E;

//背景色灰200
$theme-gray200-color: #EEEEEE;

//背景色灰50
$theme-gray50-color: #FAFAFA;

//白色
$theme-white-color: #FFF;

//辅色蓝400
$theme-blue400-color: #5C6BC0;

//辅色橙色600
$theme-origin600-color: #FB8C00;



$btn-color:#ff7200;
$common-color: #3a3a3a;
$fz-12: 12px;
$main-content-w: 1200px;




.mt13{
    margin-top: 13px;
}
.mt60{
    margin-top: 60px;
}
.ml50{
    margin-left: 50px;
}
.ml16{
    margin-left: 16px;
}
.main-content-w{
    width: $main-content-w;
    margin: 0 auto;
}
.ftheme-color{
    color: $theme-color;
}
.fbtn-color{
    color: $btn-color !important;
}
.bg-theme-color{
    background-color: $theme-color !important;
}
.float-l{
    float: left;
}
.float-r{
    float: right;
}
.clearfix{ clear:both}
.clearfix:after{
    display:block;
    content:".";
    clear:both;
    font-size: 0;
    height: 0;
    visibility: hidden;
}


ul,
ol,
li,
dl,
dt,
dd,
label{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    outline:none;
    margin: 0;
    padding:0;
}
a:link{
    text-decoration:none;
}
a:visited{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
a:active{
    text-decoration:none;
}
